<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Post</title>
</head>
<body>
    <div>
        <img data-th-src="|https://jackbucket.sgp1.digitaloceanspaces.com/${key}|" alt="">
    </div>
    <h2>Comments: <span data-th-text="${comments}"></span></h2>
    <h2>Original Filename: <span data-th-text="${file.originalFilename}"></span></h2>
    <h2>File Size: <span data-th-text="${file.size}"></span></h2>
    <h2>Image URL: <span data-th-text="|https://jackbucket.sgp1.digitaloceanspaces.com/${key}|"></span></h2>
</body>
</html>