/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.thumbnail {
    height: 7vh;
    width: auto;
    margin-right: 1vw;
}

.title {
    display: flex;
    margin: auto;
}

.button-bar {
    display: flex;
    margin-top: 3vh;
    justify-content: space-around;
}

