<h1>Order</h1>

<form [formGroup]="form" (ngSubmit)="process()">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" formControlName="name"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <!-- <input type="email" formControlName="email" [ngClass]="{'error': form.dirty && form.get('email')?.hasError('email')}"> -->
                <input type="email" formControlName="email"
                    [ngClass]="{'error': form.dirty && form.get('email')?.invalid}">
            </td>
        </tr>
        <tr>
            <td>Rush:</td>
            <td><input type="checkbox" formControlName="rush"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div>valid: {{form.valid}}, invalid: {{form.invalid}}</div>
                <div>pristine: {{form.pristine}}, dirty: {{form.dirty}} </div>
            </td>
            <!-- you can use these validity to control the buttons -->
        </tr>
        <tr>
            <td><button type="button" (click)="clearForm()">Clear</button></td>
            <td><button type="button" (click)="addItem()">Add Item</button></td>
            <td><button type="submit" [disabled]="form.invalid">Process</button></td>
        </tr>
    </table>

    <div *ngIf="lineItems.length <= 0">
        <h3>Your cart is empty</h3>
    </div>

    <table *ngIf="lineItems.length > 0">
        <thead>
            <tr>
                <td>Item</td>
                <td>Quantity</td>
            </tr>
        </thead>
        <tbody formArrayName="lineItems">
            <!-- in this case li is a formGroup of lineItems formArray -->
            <tr *ngFor="let li of lineItems.controls; let idx = index" [formGroupName]="idx">
                <td><input type="text" placeholder="Item" size="30" formControlName="item"></td>
                <td><input type="number" placeholder="Minimum order is 1" formControlName="quantity"></td>
                <td><button type="button" (click)="deleteItem(idx)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</form>